<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Site</title>
  <link rel="stylesheet" type="text/css" href="css\styles.css">
  <link rel="Icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ballet&family=Sacramento&famil=Caveat&family=Itim&family=Montserrat:wght@200&family=Nunito:wght@200&family=Pacifico&family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap"
    rel="stylesheet">

</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="Images\cloud.png" alt="Cloud">
    <h1>I'm Noob</h1>
    <h2>A <span class='gamer'>pro</span>grammer</h2>
    <img class="bottom-cloud" src="Images\cloud.png" alt="Cloud">
    <img src="Images\mountain.png" alt="Cloud">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="Images\angela.png" alt="Angela Yu">
      <h2>Hello.</h2>
      <p class="intro">I'm the kind of simple guy who is very extroverted and enthusiastic every time love to learn new
        & interesting things.
        I want to be an Entrepreneur & also want to work in management & learn Digital Marketing. Travel Enthusiast,
        Love to Drive & want to try many things in life.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="computer" src="Images/computer.png" alt="skills">
        <h3>Lorem & Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat
          ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
      </div>

      <div class="skill-row">
        <img class="chillies" src="Images\chillies.png" alt="hobbies">
        <h3>Lorem Ipsum Dolor</h3>
        <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
          Curabitur wisi, quisque vel eu, rutrum nam.</p>
      </div>
    </div>

    <hr>

    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Lorem ipsum dolor sit amet, non elit.</h3>
      <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
      <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </div>

  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/jay-raskar-19b39b1a5/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/JayRaskar4">Twitter</a>
    <a class="footer-link" href="https://tembare.com/jay/">Website</a>
    <p class="copyright">© 2021 Jay Raskar.</p>
  </div>


</body>

</html>